extends layout

block content
  //h3= title
  // p Welcome to #{title}

  h3 Who I am
  Consultant within IT and business. Helping your productivity  

  h3 What I do
  content Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum

  h3 How to connect
  content Reach out to me via:
    li LinkedIn  https://www.linkedin.com/in/aminekarmouche/
    li Twitter   https://www.linkedin.com/in/aminekarmouche/